---
permissions: read-all
concurrency:
  cancel-in-progress: true
  group: ${{ github.actor }}
jobs:
  api_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /api/deploy
        with:
          set-safe-directory: /github/workspace
          args: m . /api/deploy dev
        env:
          STACKHERO_SERVICE_ID: ${{ secrets.STACKHERO_SERVICE_ID }}
          STACKHERO_PASSWORD: ${{ secrets.STACKHERO_PASSWORD }}

  formatBash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /formatBash
        with:
          set-safe-directory: /github/workspace
          args: m . /formatBash

  formatMarkdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /formatMarkdown
        with:
          set-safe-directory: /github/workspace
          args: m . /formatMarkdown

  formatNix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /formatNix
        with:
          set-safe-directory: /github/workspace
          args: m . /formatNix

  formatPython_default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /formatPython/default
        with:
          set-safe-directory: /github/workspace
          args: m . /formatPython/default

  lintBash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintBash
        with:
          set-safe-directory: /github/workspace
          args: m . /lintBash

  lintGitCommitMsg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintGitCommitMsg
        with:
          set-safe-directory: /github/workspace
          args: m . /lintGitCommitMsg

  lintGitMailMap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
        with:
          fetch-depth: 0
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintGitMailMap
        with:
          set-safe-directory: /github/workspace
          args: m . /lintGitMailMap

  lintMarkdown_readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintMarkdown/readme
        with:
          set-safe-directory: /github/workspace
          args: m . /lintMarkdown/readme

  lintNix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintNix
        with:
          set-safe-directory: /github/workspace
          args: m . /lintNix

  lintPython_module_api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintPython/module/api
        with:
          set-safe-directory: /github/workspace
          args: m . /lintPython/module/api

  lintWithLizard_api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /lintWithLizard/api
        with:
          set-safe-directory: /github/workspace
          args: m . /lintWithLizard/api

  securePythonWithBandit_api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f095bcc56b7c2baf48f3ac70d6d6782f4f553222
      - uses: docker://ghcr.io/fluidattacks/makes/amd64:latest
        name: /securePythonWithBandit/api
        with:
          set-safe-directory: /github/workspace
          args: m . /securePythonWithBandit/api
name: dev
on:
  pull_request:
    branches: [main]
